<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.NpcDialogueFrameMapper">
  <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.NpcDialogueFrame">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="portrait" jdbcType="INTEGER" property="portrait" />
    <result column="pic_no" jdbcType="INTEGER" property="picNo" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="attrib" jdbcType="INTEGER" property="attrib" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_times" jdbcType="TIMESTAMP" property="updateTimes" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="idname" jdbcType="INTEGER" property="idname" />
    <result column="next" jdbcType="VARCHAR" property="next" />
    <result column="current_task" jdbcType="VARCHAR" property="currentTask" />
    <result column="uncontent" jdbcType="VARCHAR" property="uncontent" />
    <result column="zhuangbei" jdbcType="VARCHAR" property="zhuangbei" />
    <result column="jingyan" jdbcType="INTEGER" property="jingyan" />
    <result column="money" jdbcType="INTEGER" property="money" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, portrait, pic_no, content, secret_key, `name`, attrib, add_time, update_times, 
    deleted, update_time, idname, `next`, current_task, uncontent, zhuangbei, jingyan, 
    money
  </sql>
  <select id="selectByExample" parameterType="org.linlinjava.litemall.db.domain.example.NpcDialogueFrameExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from npc_dialogue_frame
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <if test="example.distinct">
      distinct
    </if>
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName}
        </foreach>
      </when>
      <otherwise>
        id, portrait, pic_no, content, secret_key, `name`, attrib, add_time, update_times, 
          deleted, update_time, idname, `next`, current_task, uncontent, zhuangbei, jingyan, 
          money
      </otherwise>
    </choose>
    from npc_dialogue_frame
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from npc_dialogue_frame
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyWithLogicalDelete" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select 
    <include refid="Base_Column_List" />
    from npc_dialogue_frame
    where id = #{id,jdbcType=INTEGER}
      and deleted = 
    <choose>
      <when test="andLogicalDeleted">
        1
      </when>
      <otherwise>
        0
      </otherwise>
    </choose>
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName}
        </foreach>
      </when>
      <otherwise>
        id, portrait, pic_no, content, secret_key, `name`, attrib, add_time, update_times, 
          deleted, update_time, idname, `next`, current_task, uncontent, zhuangbei, jingyan, 
          money
      </otherwise>
    </choose>
    from npc_dialogue_frame
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from npc_dialogue_frame
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.linlinjava.litemall.db.domain.example.NpcDialogueFrameExample">
    delete from npc_dialogue_frame
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.linlinjava.litemall.db.domain.NpcDialogueFrame">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into npc_dialogue_frame (portrait, pic_no, content, 
      secret_key, `name`, attrib, 
      add_time, update_times, deleted, 
      update_time, idname, `next`, 
      current_task, uncontent, zhuangbei, 
      jingyan, money)
    values (#{portrait,jdbcType=INTEGER}, #{picNo,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{secretKey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{attrib,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTimes,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{idname,jdbcType=INTEGER}, #{next,jdbcType=VARCHAR}, 
      #{currentTask,jdbcType=VARCHAR}, #{uncontent,jdbcType=VARCHAR}, #{zhuangbei,jdbcType=VARCHAR}, 
      #{jingyan,jdbcType=INTEGER}, #{money,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.linlinjava.litemall.db.domain.NpcDialogueFrame">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into npc_dialogue_frame
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="portrait != null">
        portrait,
      </if>
      <if test="picNo != null">
        pic_no,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="secretKey != null">
        secret_key,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="attrib != null">
        attrib,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTimes != null">
        update_times,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="idname != null">
        idname,
      </if>
      <if test="next != null">
        `next`,
      </if>
      <if test="currentTask != null">
        current_task,
      </if>
      <if test="uncontent != null">
        uncontent,
      </if>
      <if test="zhuangbei != null">
        zhuangbei,
      </if>
      <if test="jingyan != null">
        jingyan,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="portrait != null">
        #{portrait,jdbcType=INTEGER},
      </if>
      <if test="picNo != null">
        #{picNo,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null">
        #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="attrib != null">
        #{attrib,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTimes != null">
        #{updateTimes,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="idname != null">
        #{idname,jdbcType=INTEGER},
      </if>
      <if test="next != null">
        #{next,jdbcType=VARCHAR},
      </if>
      <if test="currentTask != null">
        #{currentTask,jdbcType=VARCHAR},
      </if>
      <if test="uncontent != null">
        #{uncontent,jdbcType=VARCHAR},
      </if>
      <if test="zhuangbei != null">
        #{zhuangbei,jdbcType=VARCHAR},
      </if>
      <if test="jingyan != null">
        #{jingyan,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.linlinjava.litemall.db.domain.example.NpcDialogueFrameExample" resultType="java.lang.Long">
    select count(*) from npc_dialogue_frame
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update npc_dialogue_frame
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.portrait != null">
        portrait = #{record.portrait,jdbcType=INTEGER},
      </if>
      <if test="record.picNo != null">
        pic_no = #{record.picNo,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.secretKey != null">
        secret_key = #{record.secretKey,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.attrib != null">
        attrib = #{record.attrib,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTimes != null">
        update_times = #{record.updateTimes,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idname != null">
        idname = #{record.idname,jdbcType=INTEGER},
      </if>
      <if test="record.next != null">
        `next` = #{record.next,jdbcType=VARCHAR},
      </if>
      <if test="record.currentTask != null">
        current_task = #{record.currentTask,jdbcType=VARCHAR},
      </if>
      <if test="record.uncontent != null">
        uncontent = #{record.uncontent,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuangbei != null">
        zhuangbei = #{record.zhuangbei,jdbcType=VARCHAR},
      </if>
      <if test="record.jingyan != null">
        jingyan = #{record.jingyan,jdbcType=INTEGER},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update npc_dialogue_frame
    set id = #{record.id,jdbcType=INTEGER},
      portrait = #{record.portrait,jdbcType=INTEGER},
      pic_no = #{record.picNo,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      secret_key = #{record.secretKey,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      attrib = #{record.attrib,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_times = #{record.updateTimes,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=BIT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      idname = #{record.idname,jdbcType=INTEGER},
      `next` = #{record.next,jdbcType=VARCHAR},
      current_task = #{record.currentTask,jdbcType=VARCHAR},
      uncontent = #{record.uncontent,jdbcType=VARCHAR},
      zhuangbei = #{record.zhuangbei,jdbcType=VARCHAR},
      jingyan = #{record.jingyan,jdbcType=INTEGER},
      money = #{record.money,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.linlinjava.litemall.db.domain.NpcDialogueFrame">
    update npc_dialogue_frame
    <set>
      <if test="portrait != null">
        portrait = #{portrait,jdbcType=INTEGER},
      </if>
      <if test="picNo != null">
        pic_no = #{picNo,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null">
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="attrib != null">
        attrib = #{attrib,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTimes != null">
        update_times = #{updateTimes,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="idname != null">
        idname = #{idname,jdbcType=INTEGER},
      </if>
      <if test="next != null">
        `next` = #{next,jdbcType=VARCHAR},
      </if>
      <if test="currentTask != null">
        current_task = #{currentTask,jdbcType=VARCHAR},
      </if>
      <if test="uncontent != null">
        uncontent = #{uncontent,jdbcType=VARCHAR},
      </if>
      <if test="zhuangbei != null">
        zhuangbei = #{zhuangbei,jdbcType=VARCHAR},
      </if>
      <if test="jingyan != null">
        jingyan = #{jingyan,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.linlinjava.litemall.db.domain.NpcDialogueFrame">
    update npc_dialogue_frame
    set portrait = #{portrait,jdbcType=INTEGER},
      pic_no = #{picNo,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      secret_key = #{secretKey,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      attrib = #{attrib,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_times = #{updateTimes,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      idname = #{idname,jdbcType=INTEGER},
      `next` = #{next,jdbcType=VARCHAR},
      current_task = #{currentTask,jdbcType=VARCHAR},
      uncontent = #{uncontent,jdbcType=VARCHAR},
      zhuangbei = #{zhuangbei,jdbcType=VARCHAR},
      jingyan = #{jingyan,jdbcType=INTEGER},
      money = #{money,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectOneByExample" parameterType="org.linlinjava.litemall.db.domain.example.NpcDialogueFrameExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <include refid="Base_Column_List" />
    from npc_dialogue_frame
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName}
        </foreach>
      </when>
      <otherwise>
        id, portrait, pic_no, content, secret_key, `name`, attrib, add_time, update_times, 
          deleted, update_time, idname, `next`, current_task, uncontent, zhuangbei, jingyan, 
          money
      </otherwise>
    </choose>
    from npc_dialogue_frame
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <update id="logicalDeleteByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    update npc_dialogue_frame set deleted = 1
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    update npc_dialogue_frame set deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>